<!DOCTYPE html>
<html>
<head>
    <title>Liste des médias - Consultation</title>
</head>
<body>
    <h1>Liste des médias</h1>
    <ul>
        {% for media in medias %}
        <li>
            {{ media.name }} - {{ media.get_media_type }}
            {% if media.disponible %}
                (Disponible)
            {% else %}
                (Emprunté par : {{ media.emprunteur }})
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <h1>Liste des jeux de plateau</h1>
    <ul>
        {% for jeu in jeux %}
        <li>
            {{ jeu.nom }} - {{ jeu.description }} - {{ jeu.fabricant }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>